.heading {
  background: linear-gradient(25.99deg, #171717 29.17%, #6949ff 56.71%);
  -webkit-background-clip: text; /* Optional: for text gradient effect */
  color: transparent; /* Optional: makes the text color transparent */
  font-size: 64px; /* Example font size */
  line-height: 61px; /* Example line height */
}
.headingspan {
  background: linear-gradient(25.99deg, #c0b3ff 29.17%, #6949ff 56.71%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 64px;
  line-height: 61px;
}
.button1 {
  background: linear-gradient(110.25deg, #8a71ff 14.25%, #6949ff 47.06%);
}
.parent {
  margin: auto;
  /* width: 70.3125rem !important;
  height: 34.5rem !important; */
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.box {
  width: 23.5rem;
  height: 11rem;
}

.insideBox {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 3rem;
  border-radius: 24px;
}
.imgBox {
  width: 23.5rem;
  height: 22.7rem;
  border-radius: 24px;
}

.bigtext {
  background-image: linear-gradient(15.89deg, #171717 -0.76%, #272727 87.17%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 10.375rem;
  font-weight: bolder;
}
.bigCard {
  /* max-width: 73.4375rem; */
  display: flex;
  flex-direction: column;
}
.bigCardDivOne {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 5 equal columns */
  list-style-type: none;
  background-color: #1c1c1c;
  border-radius: 24px;
  margin-bottom: 1rem;
}
.listitem {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 24px;
  color: #383838;
}
.listitem:hover {
  border: 1px solid transparent; /* Necessary for border-image to work */
  border-radius: 24px;
  border-image-source: linear-gradient(
    31.33deg,
    #c0b3ff 31.96%,
    #6949ff 60.21%
  );
  border-image-slice: 1;
  background-color: #171717;
  color: #ffff;
}

.bigCardDivTwo {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 3rem;
  border-radius: 24px;
  background-color: #1c1c1c;
}
.bigCardDivinnerIOne {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.innerOneA {
  width: 20.375rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 0.5rem;
}
.innerOneAboxes {
  background-color: #171717;
  padding: 1.2rem 1.5rem;
  border-radius: 16px;
  color: #c9c9c9;
  font-size: 14px;
}

.midtext {
  font-size: 4rem;
  line-height: 71px;
  color: #c9c9c9ea;
  font-weight: 600;
}
.fourthSection {
  display: flex;
}
.showcard {
  width: 528px;
  height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15.89deg, #171717 -0.76%, #272727 87.17%);
  border-radius: 24px;
}

.showCardImgContainer {
  margin: auto;
  /* padding: 40px;
  max-width: 284px;
  max-height: 177px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.showOfSection {
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  border-radius: 24px;
  gap: 18px;
}
.firstPhotoSection {
  display: flex;
  gap: 18px;
}
.secondPhotoSection {
  display: flex;
  gap: 14px;
}
.thirdSection {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 8rem;
}
.thirdSectionsecond {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 27px;
}

.smallCard {
  background: linear-gradient(15.89deg, #171717 -0.76%, #272727 87.17%);
}
