/* styles/VoiceOver/VoiceOver.module.css */

.heading {
  background: linear-gradient(212.53deg, #ddffb3 5.24%, #0e5816 55.56%);
  -webkit-background-clip: text;
  color: transparent;
}

.voiceOverContainer {
  background: #f9faff;
  min-height: 100vh;
}

.templateIcon {
  background: linear-gradient(128.33deg, #171c5e 28.92%, #855dfc 72.08%);
}
/* styles/Navbar.module.css */

.navbar {
  padding: 20px;
  width: 1317.76px;
  height: 51.25px;
  padding: 10.98px 109.81px 10.26px 109.81px;
  gap: 695.48px;
  opacity: 0px;

  width: 100%;
  /* Full width */
  /* text-align: right; */
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: Hug (266.85px) px;
  height: Hug (26px) px;
  top: 12.81px;
  left: 941.09px;
  gap: 43.93px;
  opacity: 0px;
}

.navItem a {
  /* Black text */
  text-decoration: none;
  font-size: 18px;
  color: #25282b;
}

.logo {
  color: #25282b;
}

.heroContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.leftContent {
  margin-top: 100px;
  margin-left: 100px;
}

.para {
  color: #fdc435;
  font-family: Nunito;
  font-size: 18.3px;
  font-weight: 700;
  line-height: 24.96px;
  text-align: left;
  width: 444.74px;
  height: 25px;
  gap: 0px;
  opacity: 0px;
}

.heroHeading {
  color: #25282b;
  font-family: Playfair Display;
  font-size: 58.57px;
  font-weight: 700;
  line-height: 70.28px;
  text-align: left;
  width: 444.74px;
  height: 140px;
  gap: 0px;
  opacity: 0px;
}

.para2 {
  color: #828282;
  /* font-family: Nunito; */
  font-size: 21.96px;
  font-weight: 400;
  line-height: 32.94px;
  text-align: left;
  width: 444.74px;
  height: 99px;
  gap: 0px;
  opacity: 0px;
  margin-top: 20px;
}

.projectBtn {
  background-color: #fdc435;
  color: #25282b;
  margin: 10px;
  width: Hug (105.93px) px;
  height: Hug (39.64px) px;
  padding: 7.32px 21.96px 7.32px 21.96px;
  gap: 0px;
  border-radius: 7.32px;
  opacity: 0px;
}

.linkdinBtn {
  color: #25282b;
  border: 1.83px solid #25282b;
  width: Hug (106.93px) px;
  height: Hug (39.64px) px;
  padding: 7.32px 21.96px 7.32px 21.96px;
  gap: 0px;
  border-radius: 7.32px;
  border: 1.83px 0px 0px 0px;
  opacity: 0px;
}

/*  */
/* project section */
.ProjectmainDiv {
  background: #f9faff;
  min-height: 100vh;
}

.projectHeading {
  /* font-family: Playfair Display; */
  font-size: 43.93px;
  font-weight: 700;
  line-height: 65.89px;
  text-align: center;
  color: #25282b;
  gap: 0px;
  opacity: 0px;
}

.container {
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
}

.centerLine {
  width: 91.51px;
  height: 3.66px;
  background-color: #fdc435;
  border-radius: 1.83px;
}

.containerBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two equal columns */
  align-items: center;
  /* Vertically centers items in each grid cell */
  justify-content: center;
  /* Horizontally centers the entire grid content */
  max-width: 800px;
  /* Max width of the container */
  margin: 0 auto;
  /* Centers the container horizontally */
  height: 90vh;
  /* Full viewport height for vertical centering */
  border-radius: 10px;
}

.leftbox {
  display: flex;
  flex-direction: column;
  /* Stack the content vertically */
  justify-content: center;
  /* Vertically center content inside leftbox */
  align-items: flex-start;
  /* Align content to the start (left-aligned text) */
  background: #ffffff;
  /* padding: 20px; */

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* padding: 10px; */
  padding-left: 40px;
  width: 473.89px;
  height: 479.52px;
}

.boxImg {
  display: flex;
  justify-content: center;
  /* Centers the image horizontally */
  align-items: center;
  /* Centers the image vertically */
  height: 100%;
  /* Ensures boxImg takes the full height of its grid cell */
  width: 453.89px;
  height: 481.35px;
  gap: 0px;
  opacity: 0px;
}

.containerBox img {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  opacity: 1;
  /* Set opacity to 1 to make it visible */
  object-fit: cover;
  /* Keeps the aspect ratio of the image while covering its container */
}

.projectName {
  font-family: Playfair Display;
  font-size: 36.6px;
  font-weight: 700;
  line-height: 54.91px;
  text-align: left;
  color: #25282b;
}

.projectpara {
  font-family: Nunito;
  font-size: 16.47px;
  font-weight: 400;
  line-height: 24.71px;
  text-align: left;
  color: #828282;
  width: 372.16px;
  height: 75px;
  gap: 0px;
  opacity: 0px;
}

.projectBtnn {
  margin-top: 20px;
  width: Hug (136.93px) px;
  height: Hug (39.64px) px;
  padding: 7.32px 21.96px 7.32px 21.96px;
  gap: 0px;
  border-radius: 21.96px;
  border: 0.92px 0px 0px 0px;
  opacity: 0px;
  font-weight: bold;
  color: #25282b;
  border: 1px solid #25282b;
}
.anotherClass img {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.leftbox2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0px;
  padding-left: 40px;
  width: 415.36px;
  height: 438.81px;
  padding: 133.53px 32.56px 132.69px 42.24px;
  gap: 0px;
  opacity: 0px;
  margin-top: -40px;
}
.leftbox3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 40px;
  width: 415.36px;
  height: 438.81px;
  padding: 133.53px 32.56px 132.69px 42.24px;
  gap: 0px;
  opacity: 0px;
  margin-top: -40px;
}
.socialMedia {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 80px;
}

.socialcontainer {
  display: flex;
  margin: auto;
  gap: 20px;
  justify-content: center;
  /* max-width: 300px; */
}

.socialIcon {
  width: 34.32px; /* Set the width of the social media icons */
  height: 34.32px; /* Set the height of the social media icons */
  object-fit: cover; /* Maintains aspect ratio while covering the container */
  opacity: 1; /* Make sure the opacity is 1 to make the image visible */
}

.footername p {
  padding-top: 30px;
  font-size: 14px;
  color: #828282;
  font-family: Nunito;
  font-size: 14.64px;
  font-weight: 400;
  line-height: 19.97px;
  /* text-align: left; */
  margin: auto;
}
