.heading {
  background: linear-gradient(212.53deg, #ddffb3 5.24%, #0e5816 55.56%);
  -webkit-background-clip: text;
  color: transparent;
}
.icon {
  background: linear-gradient(110.25deg, #8a71ff 14.25%, #6949ff 47.06%);
}
