.container{
  background-color: #1C1C1C;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.navbar{
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.300);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.sidebar {
  position: sticky;
  top: 0;
  height: 100%;
  width: 320px;
  padding: 18px;
  background-color: #1c1c1e;
  color: white;
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid rgba(255, 255, 255, 0.300);
}

.sidebar .promptInput {
  width: 100%;
  padding: 12px;
  background-color: #2c2c2e;
  border: none;
  border-radius: 6px;
  color: white;
  margin-bottom: 12px;
  width: 233px;
height: 88px;
padding: 11px 137px 62px 16px;
gap: 6.41px;
border: 8px;
opacity: 0px;

}

.sidebar .generateButton {
  width: 100%;
  padding: 12px;
  background: linear-gradient(110.25deg, #8A71FF 14.25%, #6949FF 47.06%);
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;

width: 233px;
height: 32px;
padding: 8px 81px 8px 81px;
gap: 6.41px;
/* border-radius: 8px; */
opacity: 0px;
border: 0.8px solid;
border-image-source: linear-gradient(180deg, #C5C5C5 0%, #1C1C1C 100%);
}

.sidebar .section {
  margin-bottom: 20px;
}

.sidebar .label {
  margin-bottom: 8px;
  display: block;
 font-size: 13px;
font-weight: 400;
line-height: 15.73px;
letter-spacing: -0.02em;
text-align: left;

}

.sidebar .buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 72px;
height: 32px;
padding: 3.5px 11px 3.5px 11px;
gap: 6.41px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;

}

.sidebar .optionButton {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  background-color: #2c2c2e;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  width: 230px;
  height: 32px;
padding: 8px 16px 8px 26px;
gap: 6.41px;
border-radius: 8px;
opacity: 0px;

}
.optionButtons{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-items: center;
  padding: 10px 20px;
  background-color: #2c2c2e;
  border: none;
  border-radius: 6px;
  color: white;
  width: 230px;
  height: 32px;
  cursor: pointer;
font-size: 8px;
font-weight: 500;
line-height: 9.68px;
letter-spacing: -0.02em;
text-align: left;

}
.spantext{
  color:grey;

 
  
}
.sidebar .optionButton:first-child {
  margin-left: 0;
}

.sidebar .optionButton:last-child {
  margin-right: 0;
}

.sidebar .customSizeButton, .moreRatiosButton {
  width: 100%;
  padding: 8px;
  background-color: #2c2c2e;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.sidebar .imageCount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .counterButton {
  padding: 6px;
  background-color: #2c2c2e;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .counterDisplay {
  margin: 0 10px;
  font-size: 18px;
}

.imageCreationSection{
  height: 100%;
  width: 100%;
}

.imageCreationSection .topbar{
  display: flex;
  justify-content: center;
  gap:40px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.300);
  cursor: pointer;
}

.imageCreationSection .topbar span{
  border-bottom: 2px solid transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.myCreations .row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.myCreations .creationText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #C9C9C9;
}

.myCreations .icons {
  display: flex;
  gap: 14px; /* Spacing between icons */
}

.myCreations .icon {
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.myCreations .icon:hover {
  transform: scale(1.1);
}

.myCreations .images {
  display: flex;
  gap: 12px; /* Spacing between images */
}

.myCreations .creationImage {
  height: 150px;
  width: 250px;
  object-fit: cover;
  border-radius: 5px;
}

/*insprasion */
.imageContainer{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  border-radius: 10px;

}
.imageContainer img{
  border-radius: 10px;
}
.combineimage{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
}
/* nav */
.logoContainer {
  display: flex; 
  align-items: center; 
  justify-content:start; 
}

.logoContainer svg {
  margin-right: 20px; 
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightcontaint {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.rightcontaint h1 {
  margin: 0;
}

 .button {
  display: flex; 
  align-items: center; 
  border: none; 
  border-radius: 8px;
  padding: 10px 20px; 
  cursor: pointer; 
  gap: 10px; 
  width: 72px;
height: 32px;
padding: 3.5px 11px 3.5px 11px;
gap: 6.41px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;

  
}
.heading{
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFF;

}
.centerHeading{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
font-weight: 500;
line-height: 19.36px;
letter-spacing: -0.02em;
text-align: center;
color: #FFFFFF;
}

.button img {
  width: 20px; /* Set a fixed width for the icon */
  height: auto;
}
/* bg blue */


